.text-yellow {
    color: #ffcc00;
    &:hover { 
        color: #fff; 
    }
}

.text-yellow-color {
    color: #ffcc00;
    &:hover { 
        color: #ffcc00; 
    }
}

.bg-default {
    background-color: #262626;
}

.bg-card {
    background-color: #0d0d0d;
}

.btn-yellow {
    background-color: #ffcc00;
    &:hover { 
        color: #ffcc00; 
        background-color: #fff; 
    }
}

.btn-purple {
    background-color: #9900ff;
    color: white;
    &:hover { 
        color: #9900ff; 
        background-color: #fff; 
    }
}

.custom-position {
    position: relative;
    top: -60px;
}

.border-item-home {
    border: 2px solid white;
    transition: 0.3s;
    &:hover {
        border-color: #d61e30;
        transition: 0.3s;
    }
}